/* Navbar.css */

.navbar {
  background-color: #003b76;
  color: #fff;
}

.navbar-brand {
  padding-left: 3rem;
  color: #ffffff;
  font-size: larger;
  font-weight: 900;
}

.navbar-brand:hover {
  color: #ff8400;
  font-size: larger;
}


.navbar-nav {
  margin-right: 0;
  /* Remove default margin */
  margin-left: auto;
  /* Push navbar-nav to the right */
}

.nav-item {
  margin-right: 40px;
 
  /* Add some spacing between nav items */
}

.nav-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1rem;
}


.nav-link:hover {
  color: #ff8400;
  font-weight: 400;
}


.navbar-nav li {
  position: relative;
  /* overflow: hidden; */
  color: #fff;
}

.navbar-nav li .card {
  margin-top: 10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.navbar-nav li:hover .card {
  display: block;
}


.navbar-nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}


.navbar-nav li:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.loginbtn{
  margin-right: 30px;
}
.loginbtn  .btn{
  width: 120px;
  border: none; 
  font-size: 1.2rem;
  padding: 0 0 3px 0;
}

.loginbtn button:hover{
  border: none;
  background-color: #ff8400;
}


/* landing pagr */

.landingpage {
  height: 600px;
  width: 100%;
  background-color: #00bafe14;
  color: #003b76;
  display: flex;
}

.heading {
  padding-top: 100px;
  padding-left: 70px;
  padding-bottom: 20px;

  width: 50%;
}

.heading h1 {
  font-size: 90px;
  margin-bottom: 30px;

}

.heading span {
  margin-top: 27px;
  font-size: 15px;
}

.heading button {
  margin-top: 42px;
  margin-left: 10px;
  width: 150px;
  height: 50px;
  font-size: 1.4rem;
  border-radius: 1rem;
}

.heading button:hover {
  background-color: #ff8400;
  border: none;
}

.con {
  border-radius: 1rem 1rem 5rem 1rem;
  padding: 20px 30px;
  margin: 90px 10px;
  height: 20rem;
  width: 60%;
  background-color: #022446;
  color: #fff;
}



/* explore */
.explore {
  background-color: #00bafe14;
  color: #022446;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0px;
}

.explore .butt .btn {
  height: 15rem;
  width: 10rem;
  margin-left: 10px;
  font-size: 1.3rem;
  text-align: center;
  background-color: #003b76;
  border: none;

}

.explore .butt .btn:hover {
  background-color: #ff8400;
}

.acccor {
  /* background-color: #00bafe14; */
  padding-top: 30px;
  padding-bottom: 20px;
}

.acccor .accordion .accordion-item {
  background-color: #ff840079;
  color: rgba(0, 0, 0, 0.86);
  border: none;


}

.acccor .accordion .accordion-item .accordion-button {
  background-color: #002e5ff5;
  border: none;
  color: #fff;
  font-size: 2rem;
  height: 6rem;
}

.acccor .accordion .accordion-item .accordion-button:hover {
  background-color: #ff8400;
}



/* login page */
.containerL {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
  margin-top: 40px;
}

.headingL {
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  color: #022446;
}

 .headingL .form-control {
  width: 400px;
  padding-bottom: 30px;
  height: 70px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.btn:hover {
  background-color: darkblue;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.success {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}




/* signup page */




.containerS {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 50px;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  /* background-color: #003b7623; */
  box-shadow: 0px 2px 4px rgba(0, 53, 139, 0.3);
  margin-bottom: 60px;
  margin-top: 40px;
}

.containerS h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  color: #022446;
}

.form-control {
  height: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.SignUplabel {
  width: 48%;
}

select {
  height: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

button {
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #555;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* previewexplore */

.heeed{
  margin-top: 20PX;
}

.explorepage{
  padding: 40px 0;
  background-color: #02244612;
  
}

.explorepage h1{
  font-size: 3rem;
  font-weight:500;
}

.explorePagebtn{
  background-color: #00bafe14;
  color: #022446;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.explorePagebtn .buttexplore .btn {
  height: 15rem;
  width: 10rem;
  margin-left: 10px;
  font-size: 1.3rem;
  text-align: center;
  background-color: #003b76;
  border: none;

}

.explorePagebtn .buttexplore .btn:hover {
  background-color: #ff8400;
}
 